@model Fix

<form asp-action="Barcode" method="post">
    <label asp-for="Barcode">Szukaj po kodzie kreskowym</label>
    <input asp-for="Barcode" class="form-control" />
    <button type="submit" class="btn btn-primary">Wyślij</button>
</form>
